.about {
  width: 100%;
  display: flex;
  gap: 56px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__profile-picture {
  width: 100%;
  max-width: 464px;
  max-height: 464px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  object-fit: cover;
  display: block;
}

.about__title {
  font-size: 40px;
  font-weight: 400;
}

.about__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: row;
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 128px;
  }

  .about__profile-picture {
    max-width: 232px;
    max-height: 232px;
  }

  .about__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 128px;
  }

  .about__profile-picture {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
  }
}
