.news-card-list {
  padding-top: 62px;
  padding-bottom: 62px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media screen and (max-width: 320px) {
  .news-card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 16px;
  }
}
