.footer {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.footer__paragraph {
  font-size: 16px;
  color: #b6bcbf;
}

.footer__nav {
  display: flex;
  gap: 40px;
}

.footer__link {
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.1s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link:visited {
  color: inherit;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    gap: 38px;
    height: 64px;
    white-space: nowrap;
  }

  .footer__nav {
    justify-content: end;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column-reverse;
    align-items: start;
    justify-content: space-between;
    height: unset;
    padding-top: 24px;
  }

  .footer__paragraph {
    font-size: 13px;
  }

  .footer__nav {
    justify-content: unset;
  }
}
