.saved-news-header {
  padding-top: 120px;
  height: 374px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.saved-news-header__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.saved-news-header__paragraph {
  font-family: "Roboto", "Arial", sans-serif;
  color: #1a1b2280;
}

/* (isDark ? dark : light) */
