.saved-news-header {
  padding-top: 120px;
  height: 374px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.saved-news-header__title {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.saved-news-header__paragraph {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #1a1b2280;
  text-transform: none;
}

.saved-news-header__keywords {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
}

.saved-news-header__keywords span {
  text-transform: capitalize;
}

@media screen and (max-width: 320px) {
  .saved-news-header {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news-header {
    height: unset;
    gap: unset;
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .saved-news-header__title {
    font-size: 30px;
    margin-top: 16px;
  }

  .saved-news-header__paragraph {
    font-size: 12px;
    line-height: 24px;
  }

  .saved-news-header__keywords {
    margin-top: 48px;
  }
}
