.search-form {
  height: 576px;
  background: transparent url("../../assets/background-image.jpg") center
    no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 64px;
  padding-top: 80px;
}

.search-form__title {
  max-width: 720px;
  font-size: 60px;
  font-weight: 400;
}

.search-form__paragraph {
  font-family: "Inter", "Arial", sans-serif;
}

.search-form__text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.search-form__search-bar {
  width: 100%;
  max-width: 608px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: end;
}

.search-form__input {
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  padding: 24px 16px;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__input:focus {
  outline: none;
}

.search-form__search-button {
  height: -webkit-fill-available;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 45px;
  position: absolute;
  border-radius: 100px;
  color: #ffffff;
  background-color: #2f71e5;
  border: 1px solid #2f71e5;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-form__search-button:hover {
  background-color: #347eff;
}

.search-form__search-button:active {
  background-color: #2a65cc;
}

.search-form__search-button:disabled {
  background: #e6e8eb;
  border-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.search-form__error {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  padding-top: 4px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .search-form {
    gap: 48px;
  }

  .search-form__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    gap: 80px;
    padding-top: 30px;
  }

  .search-form__text {
    gap: 12px;
  }

  .search-form__search-bar {
    height: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .search-form__input {
    padding: 16px 16px;
  }

  .search-form__search-button {
    width: 100%;
    height: 56px;
    position: relative;
  }
}
